img {
  width: 100%;
  display: block;
  min-height: 13rem;
}
.shopList{
  width: 70vw;
  max-width: 1170px;
  padding: 2rem 0;
  margin: 0 auto;
}
.shop{
  margin:2rem;
}
.close-btn{
  position: absolute;
  display: block;
  top: 1%;
  right: 1%;
  font-size: 2rem;
  opacity: 0;
  cursor: pointer;
}
.img-container{
    position: relative;
}
.img-container:hover .close-btn{
  opacity: 1;
}
